html {
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  background-color: #ddd;
}

.box {
  background-color: #fff;
}

.results {
  background-color: #efefef;
}

.logo {
  max-width: 200px;
}

.col {
  min-width: 6em;
}
